<div ng-controller="MarkdownRepeaterCtrl">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-large btn-default pull-right" ng-click="toggleCollapse()">Table Of Contents</button>
            <div ng-if="isCollapsed">
                <hr>
                <div class="well well-lg">
                    <md ng-model="text"></md>
                </div> 
            </div>
            <hr>
        </div>
        <div class="col-xs-10 col-xs-offset-2" ng-repeat="req in FinalRenderData.sentRequests">
            <md ng-include="req.url"></md>
        </div>
    </div>
</div>